In [1]:
### load basic libraries to scrap data
import selenium
import pandas as pd
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
import time

In [74]:
### connect to the web driver
driver=webdriver.Chrome(r'D:\flip Robo\chromedriver.exe')

In [117]:
#URL = 'https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=MAA&destinationCountry=IN&flexi=0&flight_depart_date=29%2F10%2F2021&hb=0&noOfSegments=1&origin=PAT&originCountry=IN&type=O&unique=755157209286&version=1.1&viewName=normal'
URL = 'https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=MAA&destinationCountry=IN&flexi=0&flight_depart_date=31%2F10%2F2021&hb=0&noOfSegments=1&origin=PAT&originCountry=IN&type=O&unique=755157209286&version=1.1&viewName=normal';
driver.get(URL)
time.sleep(2)

In [118]:
### all row 
airlines = driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[1]/div/div[2]/span')
AirlineName = []
Journey_date = []
for i in airlines:
    try:
        AirlineName.append(i.text)
        Journey_date.append(driver.find_element_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[1]/div/div[1]/div/ul/li[1]/div/p[1]').text)
    except NoSuchElementException:
        AirlineName.append(NaN)

source = driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[1]/div/div[1]/p')
Sources = []
for src in source:
    try:
        Sources.append(src.text)
    except NoSuchElementException:
        Sources.append(NaN)

destination = driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[1]/div/div[3]/p[2]')
Destination = []
for des in destination:
    try:
        Destination.append(des.text)
    except NoSuchElementException:
        Destination.append(NaN)
        
### stops are blank below the path which is correct
stop = driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[2]/div/div/span')
Stops =[]
for stp in stop:
    try:
        Stops.append(stp.text)
    except NoSuchElementException:
        Stops.append(NaN)

Dept =[]
for dep in driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[1]/div/div[1]/div/div'):
    try:
        Dept.append(dep.text)
    except NoSuchElementException:
        Dept.append(NaN)

Arrival =[]
for arv in driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[1]/div/div[3]/p[1]'):
    try:
        Arrival.append(arv.text)
    except NoSuchElementException:
        Arrival.append(NaN)
        
Duration = []
for d in driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[2]/div/p'):
    try:
        Duration.append(d.text)
    except NoSuchElementException:
        Duration.append(NaN)

price = []
for pr in driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[4]/div/div[1]/div/label/div/div[2]'):
    try:
         price.append(pr.text)
    except NoSuchElementException:
        price.append(NaN)

In [9]:
csv1 = pd.DataFrame({
    "AirlineName":AirlineName,
    "Journey_date":Journey_date,
    "Sources":Sources,
    "Destination":Destination,
    "Stops":Stops,
    "Dept":Dept,
    "Arrival":Arrival,
    "Duration":Duration,
    "price":price
})

In [20]:
csv2 = pd.DataFrame({
    "AirlineName":AirlineName,
    "Journey_date":Journey_date,
    "Sources":Sources,
    "Destination":Destination,
    "Stops":Stops,
    "Dept":Dept,
    "Arrival":Arrival,
    "Duration":Duration,
    "price":price
})

In [24]:
csv3 = pd.DataFrame({
    "AirlineName":AirlineName,
    "Journey_date":Journey_date,
    "Sources":Sources,
    "Destination":Destination,
    "Stops":Stops,
    "Dept":Dept,
    "Arrival":Arrival,
    "Duration":Duration,
    "price":price
})

In [30]:
csv4 = pd.DataFrame({
    "AirlineName":AirlineName,
    "Journey_date":Journey_date,
    "Sources":Sources,
    "Destination":Destination,
    "Stops":Stops,
    "Dept":Dept,
    "Arrival":Arrival,
    "Duration":Duration,
    "price":price
})

In [34]:
csv5 = pd.DataFrame({
    "AirlineName":AirlineName,
    "Journey_date":Journey_date,
    "Sources":Sources,
    "Destination":Destination,
    "Stops":Stops,
    "Dept":Dept,
    "Arrival":Arrival,
    "Duration":Duration,
    "price":price
})

In [44]:
csv6 = pd.DataFrame({
    "AirlineName":AirlineName,
    "Journey_date":Journey_date,
    "Sources":Sources,
    "Destination":Destination,
    "Stops":Stops,
    "Dept":Dept,
    "Arrival":Arrival,
    "Duration":Duration,
    "price":price
})

In [48]:
csv7 = pd.DataFrame({
    "AirlineName":AirlineName,
    "Journey_date":Journey_date,
    "Sources":Sources,
    "Destination":Destination,
    "Stops":Stops,
    "Dept":Dept,
    "Arrival":Arrival,
    "Duration":Duration,
    "price":price
})

In [52]:
csv8 = pd.DataFrame({
    "AirlineName":AirlineName,
    "Journey_date":Journey_date,
    "Sources":Sources,
    "Destination":Destination,
    "Stops":Stops,
    "Dept":Dept,
    "Arrival":Arrival,
    "Duration":Duration,
    "price":price
})

In [56]:
csv9 = pd.DataFrame({
    "AirlineName":AirlineName,
    "Journey_date":Journey_date,
    "Sources":Sources,
    "Destination":Destination,
    "Stops":Stops,
    "Dept":Dept,
    "Arrival":Arrival,
    "Duration":Duration,
    "price":price
})

In [115]:
csv15 = pd.DataFrame({
    "AirlineName":AirlineName,
    "Journey_date":Journey_date,
    "Sources":Sources,
    "Destination":Destination,
    "Stops":Stops,
    "Dept":Dept,
    "Arrival":Arrival,
    "Duration":Duration,
    "price":price
})

In [119]:
csv16 = pd.DataFrame({
    "AirlineName":AirlineName,
    "Journey_date":Journey_date,
    "Sources":Sources,
    "Destination":Destination,
    "Stops":Stops,
    "Dept":Dept,
    "Arrival":Arrival,
    "Duration":Duration,
    "price":price
})

,AirlineName,Journey_date,Sources,Destination,Stops,Dept,Arrival,Duration,price
0,Go First,,Patna,Chennai,1 Stop,14:20,22:20,8h 00m,"7,197"
1,IndiGo,,Patna,Chennai,Non Stop,14:55,17:25,2h 30m,"7,512"
2,SpiceJet,,Patna,Chennai,1 Stop,10:30,14:25,3h 55m,"7,512"
3,IndiGo,,Patna,Chennai,1 Stop,12:05,16:55,4h 50m,"7,512"
4,IndiGo,,Patna,Chennai,1 Stop,11:45,17:00,5h 15m,"7,512"
...,...,...,...,...,...,...,...,...,...
77,Vistara,,Patna,Chennai,2 Stop(s),10:30,10:10\n+ 1 day,23h 40m,"21,007"
78,Vistara,,Patna,Chennai,2 Stop(s),10:30,10:10\n+ 1 day,23h 40m,"21,007"
79,Air India,,Patna,Chennai,3 Stop(s),15:00,16:15\n+ 1 day,25h 15m,"22,947"
80,Vistara,,Patna,Chennai,2 Stop(s),10:30,10:10\n+ 1 day,23h 40m,"24,312"
81,Air India,,Patna,Chennai,2 Stop(s),15:00,08:55\n+ 1 day,17h 55m,"25,257"

In [60]:
flight_csv = pd.concat([csv1, csv2,csv3,csv4,csv5,csv6,csv7,csv8,csv9], ignore_index=True)

In [64]:
flight_csv

,AirlineName,Journey_date,Sources,Destination,Stops,Dept,Arrival,Duration,price
0,Air Asia,"Sat, 23 Oct",New Delhi,Mumbai,1 Stop,14:40,20:15,5h 35m,"5,953"
1,Air Asia,"Sat, 23 Oct",New Delhi,Mumbai,1 Stop,12:40,20:15,7h 35m,"5,953"
2,Go First,"Sat, 23 Oct",New Delhi,Mumbai,Non Stop,20:30,22:35,2h 05m,"5,954"
3,Go First,"Sat, 23 Oct",New Delhi,Mumbai,Non Stop,21:30,23:35,2h 05m,"5,954"
4,Go First,"Sat, 23 Oct",New Delhi,Mumbai,Non Stop,22:45,00:50\n+ 1 day,2h 05m,"5,954"
...,...,...,...,...,...,...,...,...,...
646,IndiGo,"Fri, 29 Oct",Mumbai,Chennai,1 Stop,15:00,19:35,4h 35m,"8,043"
647,IndiGo,"Fri, 29 Oct",Mumbai,Chennai,1 Stop,15:00,21:05,6h 05m,"8,043"
648,IndiGo,"Fri, 29 Oct",Mumbai,Chennai,1 Stop,09:55,16:10,6h 15m,"8,043"
649,IndiGo,"Fri, 29 Oct",Mumbai,Chennai,1 Stop,05:10,11:40,6h 30m,"8,043"
650,IndiGo,"Fri, 29 Oct",Mumbai,Chennai,1 Stop,08:35,16:10,7h 35m,"8,043"

In [63]:
flight_csv.to_csv('flightyatra.csv')

In [76]:
##### clear Trip
URL = 'https://www.ixigo.com/search/result/flight?from=LKO&to=DEL&date=29102021&returnDate=&adults=1&children=0&infants=0&class=e&source=Search%20Form'
driver.get(URL)
time.sleep(2)

In [109]:
### all row 
airlines = driver.find_elements_by_xpath('/html/body/div[1]/div/div[4]/div[1]/div[2]/div/div/div[1]/div[1]/div[2]/div/a/div')
AirlineName = []
Journey_date = []
for i in airlines:
    try:
        AirlineName.append(i.text)
        Journey_date.append(driver.find_element_by_xpath('/html/body/div[1]/div/div[4]/div[1]/div[2]/div[3]/div/div[1]/div[2]/div[1]/div[3]').text)
    except NoSuchElementException:
        AirlineName.append(NaN)

source = driver.find_elements_by_xpath('/html/body/div[1]/div/div[4]/div[1]/div[2]/div/div/div[1]/div[2]/div[1]/div[1]')
Sources = []
for src in source:
    try:
        Sources.append(src.text)
    except NoSuchElementException:
        Sources.append(NaN)

destination = driver.find_elements_by_xpath('/html/body/div[1]/div/div[4]/div[1]/div[2]/div/div/div[1]/div[2]/div[3]/div[1]')
Destination = []
for des in destination:
    try:
        Destination.append(des.text)
    except NoSuchElementException:
        Destination.append(NaN)
        
### stops are blank below the path which is correct
stop = driver.find_elements_by_xpath('/html/body/div[1]/div/div[4]/div[1]/div[2]/div/div/div[1]/div[2]/div[2]/div/div[6]')
Stops =[]
for stp in stop:
    try:
        Stops.append(stp.text)
    except NoSuchElementException:
        Stops.append(NaN)

Dept =[]
for dep in driver.find_elements_by_xpath('/html/body/div[1]/div/div[4]/div[1]/div[2]/div/div/div[1]/div[2]/div[1]/div[2]'):
    try:
        Dept.append(dep.text)
    except NoSuchElementException:
        Dept.append(NaN)

Arrival =[]
for arv in driver.find_elements_by_xpath('/html/body/div[1]/div/div[4]/div[1]/div[2]/div/div/div[1]/div[2]/div[3]/div[2]'):
    try:
        Arrival.append(arv.text)
    except NoSuchElementException:
        Arrival.append(NaN)
        
Duration = []
for d in driver.find_elements_by_xpath('/html/body/div[1]/div/div[4]/div[1]/div[2]/div/div/div[1]/div[2]/div[2]/div/div[2]'):
    try:
        Duration.append(d.text)
    except NoSuchElementException:
        Duration.append(NaN)

price = []
for pr in driver.find_elements_by_xpath('/html/body/div[1]/div/div[4]/div[1]/div[2]/div/div/div[2]/div/div/div/div[1]/div/span[2]'):
    try:
         price.append(pr.text)
    except NoSuchElementException:
        price.append(NaN)

In [98]:
csv10 = pd.DataFrame({
    "AirlineName":AirlineName,
    "Journey_date":Journey_date,
    "Sources":Sources,
    "Destination":Destination,
    "Stops":Stops,
    "Dept":Dept,
    "Arrival":Arrival,
   "Duration":Duration,
    "price":price
})

In [101]:
csv11 = pd.DataFrame({
    "AirlineName":AirlineName,
    "Journey_date":Journey_date,
    "Sources":Sources,
    "Destination":Destination,
    "Stops":Stops,
    "Dept":Dept,
    "Arrival":Arrival,
   "Duration":Duration,
    "price":price
})

In [103]:
csv12 = pd.DataFrame({
    "AirlineName":AirlineName,
    "Journey_date":Journey_date,
    "Sources":Sources,
    "Destination":Destination,
    "Stops":Stops,
    "Dept":Dept,
    "Arrival":Arrival,
   "Duration":Duration,
    "price":price
})

In [107]:
csv13 = pd.DataFrame({
    "AirlineName":AirlineName,
    "Journey_date":Journey_date,
    "Sources":Sources,
    "Destination":Destination,
    "Stops":Stops,
    "Dept":Dept,
    "Arrival":Arrival,
   "Duration":Duration,
    "price":price
})

In [110]:
csv14 = pd.DataFrame({
    "AirlineName":AirlineName,
    "Journey_date":Journey_date,
    "Sources":Sources,
    "Destination":Destination,
    "Stops":Stops,
    "Dept":Dept,
    "Arrival":Arrival,
   "Duration":Duration,
    "price":price
})

In [111]:
csv14

,AirlineName,Journey_date,Sources,Destination,Stops,Dept,Arrival,Duration,price
0,GO FIRST,"Sun, 31 Oct",LKO,DEL,1 stop,13:30,20:10,6hr 40min,4208
1,GO FIRST,"Sun, 31 Oct",LKO,DEL,1 stop,18:10,00:50,6hr 40min,4208
2,GO FIRST,"Sun, 31 Oct",LKO,DEL,1 stop,18:10,02:00,7hr 50min,4208
3,GO FIRST,"Sun, 31 Oct",LKO,DEL,1 stop,08:05,16:55,8hr 50min,4208
4,GO FIRST,"Sun, 31 Oct",LKO,DEL,1 stop,13:30,22:25,8hr 55min,4208
5,GO FIRST,"Sun, 31 Oct",LKO,DEL,1 stop,06:30,15:45,9hr 15min,4208
6,GO FIRST,"Sun, 31 Oct",LKO,DEL,1 stop,13:30,23:30,10hr,4208
7,GO FIRST,"Sun, 31 Oct",LKO,DEL,1 stop,13:30,00:50,11hr 20min,4208
8,GO FIRST,"Sun, 31 Oct",LKO,DEL,1 stop,13:30,02:00,12hr 30min,4208
9,GO FIRST,"Sun, 31 Oct",LKO,DEL,1 stop,06:30,20:10,13hr 40min,4208
10,GO FIRST,"Sun, 31 Oct",LKO,DEL,1 stop,18:10,08:10,14hr,4208
11,GO FIRST,"Sun, 31 Oct",LKO,DEL,1 stop,06:30,22:25,15hr 55min,4208
12,GO FIRST,"Sun, 31 Oct",LKO,DEL,1 stop,18:10,10:10,16hr,4208
13,GO FIRST,"Sun, 31 Oct",LKO,DEL,non-stop,07:30,08:40,1hr 10min,4312
14,GO FIRST,"Sun, 31 Oct",LKO,DEL,non-stop,10:45,11:55,1hr 10min,4312

In [189]:
URL = 'https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=MAA&destinationCountry=IN&flexi=0&flight_depart_date=11%2F11%2F2021&hb=0&noOfSegments=1&origin=PAT&originCountry=IN&type=O&unique=755157209286&version=1.1&viewName=normal';
driver.get(URL)
time.sleep(2)

In [190]:
### all row 
airlines = driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[1]/div/div[2]/span')
AirlineName = []
Journey_date = []
for i in airlines:
    try:
        AirlineName.append(i.text)
        Journey_date.append(driver.find_element_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[1]/div/div[1]/div/ul/li[15]/div/p[1]').text)
    except NoSuchElementException:
        AirlineName.append(NaN)

source = driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[1]/div/div[1]/p')
Sources = []
for src in source:
    try:
        Sources.append(src.text)
    except NoSuchElementException:
        Sources.append(NaN)

destination = driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[1]/div/div[3]/p[2]')
Destination = []
for des in destination:
    try:
        Destination.append(des.text)
    except NoSuchElementException:
        Destination.append(NaN)

### stops are blank below the path which is correct
stop = driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[2]/div/div/span')
Stops =[]
for stp in stop:
    try:
        Stops.append(stp.text)
    except NoSuchElementException:
        Stops.append(NaN)

Dept =[]
for dep in driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[1]/div/div[1]/div/div'):
    try:
        Dept.append(dep.text)
    except NoSuchElementException:
        Dept.append(NaN)

Arrival =[]
for arv in driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[1]/div/div[3]/p[1]'):
    try:
        Arrival.append(arv.text)
    except NoSuchElementException:
        Arrival.append(NaN)

Duration = []
for d in driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[2]/div/p'):
    try:
        Duration.append(d.text)
    except NoSuchElementException:
        Duration.append(NaN)

price = []
for pr in driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[4]/div/div[1]/div/label/div/div[2]'):
    try:
         price.append(pr.text)
    except NoSuchElementException:
        price.append(NaN)

In [141]:
csv16 = pd.DataFrame({
    "AirlineName":AirlineName,
    "Journey_date":Journey_date,
    "Sources":Sources,
    "Destination":Destination,
    "Stops":Stops,
    "Dept":Dept,
    "Arrival":Arrival,
   "Duration":Duration,
    "price":price
})

In [148]:
csv17 = pd.DataFrame({
    "AirlineName":AirlineName,
    "Journey_date":Journey_date,
    "Sources":Sources,
    "Destination":Destination,
    "Stops":Stops,
    "Dept":Dept,
    "Arrival":Arrival,
   "Duration":Duration,
    "price":price
})

In [152]:
csv18 = pd.DataFrame({
    "AirlineName":AirlineName,
    "Journey_date":Journey_date,
    "Sources":Sources,
    "Destination":Destination,
    "Stops":Stops,
    "Dept":Dept,
    "Arrival":Arrival,
   "Duration":Duration,
    "price":price
})

In [157]:
csv19 = pd.DataFrame({
    "AirlineName":AirlineName,
    "Journey_date":Journey_date,
    "Sources":Sources,
    "Destination":Destination,
    "Stops":Stops,
    "Dept":Dept,
    "Arrival":Arrival,
   "Duration":Duration,
    "price":price
})

In [161]:
csv20 = pd.DataFrame({
    "AirlineName":AirlineName,
    "Journey_date":Journey_date,
    "Sources":Sources,
    "Destination":Destination,
    "Stops":Stops,
    "Dept":Dept,
    "Arrival":Arrival,
   "Duration":Duration,
    "price":price
})

In [165]:
csv21 = pd.DataFrame({
    "AirlineName":AirlineName,
    "Journey_date":Journey_date,
    "Sources":Sources,
    "Destination":Destination,
    "Stops":Stops,
    "Dept":Dept,
    "Arrival":Arrival,
   "Duration":Duration,
    "price":price
})

In [171]:
csv22 = pd.DataFrame({
    "AirlineName":AirlineName,
    "Journey_date":Journey_date,
    "Sources":Sources,
    "Destination":Destination,
    "Stops":Stops,
    "Dept":Dept,
    "Arrival":Arrival,
   "Duration":Duration,
    "price":price
})

In [177]:
csv23 = pd.DataFrame({
    "AirlineName":AirlineName,
    "Journey_date":Journey_date,
    "Sources":Sources,
    "Destination":Destination,
    "Stops":Stops,
    "Dept":Dept,
    "Arrival":Arrival,
   "Duration":Duration,
    "price":price
})

In [181]:
csv24 = pd.DataFrame({
    "AirlineName":AirlineName,
    "Journey_date":Journey_date,
    "Sources":Sources,
    "Destination":Destination,
    "Stops":Stops,
    "Dept":Dept,
    "Arrival":Arrival,
   "Duration":Duration,
    "price":price
})

In [185]:
csv25 = pd.DataFrame({
    "AirlineName":AirlineName,
    "Journey_date":Journey_date,
    "Sources":Sources,
    "Destination":Destination,
    "Stops":Stops,
    "Dept":Dept,
    "Arrival":Arrival,
   "Duration":Duration,
    "price":price
})

In [191]:
csv26 = pd.DataFrame({
    "AirlineName":AirlineName,
    "Journey_date":Journey_date,
    "Sources":Sources,
    "Destination":Destination,
    "Stops":Stops,
    "Dept":Dept,
    "Arrival":Arrival,
   "Duration":Duration,
    "price":price
})

In [192]:
flight_csv = pd.concat([csv1, csv2,csv3,csv4,csv5,csv6,csv7,csv8,csv9,csv10,csv11,csv12,csv13,csv14,csv15,csv16,csv17,csv18,csv19,csv21,csv22,csv23,csv24,csv25,csv26], ignore_index=True)

In [194]:
flight_csv.to_csv('flightprice.csv')